---
Checks: '
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  portability-*,
  cert-*,
  cppcoreguidelines-*
'

# Use the .clang-format file to format.
FormatStyle: 'file'

CheckOptions:
  # Enforce specific identifier naming conventions (highly customizable)
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantPrefix
    value: ''
...